<div class="row">

  <div class="col-md-4 offset-md-4">

    <div class="card">

      <div class="card-body">
        <form class="form-group">
          <input type="text" name="title" placeholder="Title" class="form-control" autofocus>
        </form>
        <form class="form-group">
          <textarea name="description" placeholder="description" rows="10" class="form-control"></textarea>
        </form>
        <form class="form-group">
          <input type="url" name="image" placeholder="Image" class="form-control">

          <button class="btn btn-success btn-block">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
